body {
  font-family: Arial, sans-serif;
  background-color: #fbf1c7;
}

.calculator {
  width: 17rem;
  height: 20rem;
  position: absolute;
  inset: 0px;
  margin: auto;
  border: 2px solid #458588;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 1.5rem;
  background-color: #3c3836;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
  height: 12rem;
  width: 15rem;
}

.buttons button {
  background-color: #8ec07c;
  border: 2px dotted #458588;
  border-radius: 5px;
  padding: 0.2rem;
  color: #3c3836;
}

#zero {
  grid-column: 1 / 4;
  grid-row: 6 / 6;
}

#display {
  height: 3rem;
  width: 14rem;
  padding: 0.4rem;
  font-size: 2rem;
  text-align: right;
}
